.hidden {
    display: none;
}   

body {
    background-color: #FFFFEF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Dejavu Sans Mono, monospace;
    position: relative;
    min-height: 100vh;
}
.logo {
    margin-top: 40px;
    width: 550px;
    height: auto;
    margin-bottom: -10px;
}
.welcome {
    font-size: 50px;
    margin-bottom: 40px;
}
.start button {
    border: none;
    font-size: 40px;
    cursor: pointer;
    padding: 20px 40px;
    border-radius: 9px;
    background: #BAC1FF;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
}
.start button:hover {
    box-shadow: 7px 5px 56px -14px #9197C6;
}
.start button:active {
    transform: scale(0.97);
}
.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.list {
    display: flex;
    gap: 130px;
    margin-top: 80px;
}
.wordOfTheDay {
    font-size: 40px;
    margin-top: 90px;
}
#menu {
    position: relative;


    z-index: 10;
}
.shape {
    z-index: 1;
    position: absolute;
}
.circle1 {
    width: 70px;
    height: 70px;
    border: 4px solid orange;
    border-radius: 50%;
    top: 69%;
    left: 20%;  
    background-color: #FFFFAA;  
}
.circle2 {
    width: 45px;
    height: 45px;
    border: 4px solid orange;
    border-radius: 50%;
    top: 23%;
    left: 83%;  
    background-color: #FFFFAA;  
}
.circle3 {
    width: 55px;
    height: 55px;
    border: 4px solid orange;
    border-radius: 50%;
    top: 40%;
    left: 10%;
    background-color: #FFFFAA;
}
.circle4 {
    width: 35px;
    height: 35px;
    border: 4px solid orange;
    border-radius: 50%;
    top: 50%;
    left: 45%;
    background-color: #FFFFAA;
}
.square1 {
    width: 40px;
    height: 70px;
    border: 4px solid orange;
    border-radius: 8px;
    background-color: #FFFFAA;
    top: 67%;
    left: 80%;
    transform: rotate(282deg);
}
.square2 {
    width: 25px;
    height: 35px;
    border: 4px solid orange;
    transform: rotate(35deg);
    background-color: #FFFFAA;
    top: 30%;
    left: 23%;
    border-radius: 8px;
}
.square3 {
    width: 30px;
    height: 55px;
    border: 4px solid orange;
    transform: rotate(55deg);
    background-color: #FFFFAA;
    top: 29.7%;
    left: 50%;
    border-radius: 8px;
}
.line1 {
    width: 70px;
    border-top: 4px solid orange;
    top: 53%;
    left: 87%;
    transform: rotate(30deg);
}
.line2 {
    width: 70px;
    border-top: 4px solid orange;
    top: 57%;
    left: 85.9%;
    transform: rotate(30deg);
}
.line3 {
    width: 70px;
    border-top: 4px solid orange;
    top: 61%;
    left: 84.8%;
    transform: rotate(30deg);
}
.line4 {
    width: 50px;
    border-top: 4px solid orange;
    top: 68%;
    left: 54%;
    transform: rotate(155deg);
}
.line5 {
    width: 50px;
    border-top: 4px solid orange;
    top: 68%;
    left: 54%;
    transform: rotate(65deg);
}
.headline {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
}
.underline {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#CreateListStartButton {
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding: 12.5px 25px;
    border-radius: 5.625px;
    background: #BAC1FF;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
}
#CreateListStartButton:hover {
    box-shadow: 7px 5px 56px -14px #9197C6;
}
#CreateListStartButton:active {
    transform: scale(0.97);
}
#Return1 {
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding: 12.5px 25px;
    border-radius: 5.625px;
    background: #BAC1FF;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
}
#Return1:hover {
    box-shadow: 7px 5px 56px -14px #9197C6;
}
#Return1:active {
    transform: scale(0.97);
}
#Next1Button {
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding: 12.5px 25px;
    border-radius: 5.625px;
    background: #BAC1FF;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
}
#Next1Button:hover {
    box-shadow: 7px 5px 56px -14px #9197C6;
}
#Next1Button:active {
    transform: scale(0.97);
}
.ListName {
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding: 12.5px 25px;
    border-radius: 5.625px;
    background: #BAC1FF;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
}
.ListName:hover {
    box-shadow: 7px 5px 56px -14px #9197C6;
}
.ListName:active {
    transform: scale(0.97);
}
.language {
    justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.Button2 {
    justify-content: center;
    display: flex;
    margin-top: 50px;
    gap: 70px;
}
#language1, #language2 {
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding: 12.5px 25px;
    border-radius: 5.625px;
    background: #BAC1FF;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
}
#language1:hover, #language2:hover {
    box-shadow: 7px 5px 56px -14px #9197C6;
}
#language1:active, #language2:active {
    transform: scale(0.97);
}
#Return2 {
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 6.75px;
    background: #BAC1FF;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
}
#Return2:hover {
    box-shadow: 7px 5px 56px -14px #9197C6;
}
#Return2:active {
    transform: scale(0.97);
}
#Next2Button {
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 6.75px;
    background: #BAC1FF;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
}
#Next2Button:hover {
    box-shadow: 7px 5px 56px -14px #9197C6;
}
#Next2Button:active {
    transform: scale(0.97);
}
#AddWord {
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding: 12.5px 25px;
    border-radius: 5.625px;
    background: #BAC1FF;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 40px;
}
#AddWord:hover {
    box-shadow: 7px 5px 56px -14px #9197C6;
}
#AddWord:active {
    transform: scale(0.97);
}
.Button3 {
    justify-content: center;
    display: flex;
    gap: 70px;
    margin-top: 10px;
    position: fixed;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
}
#Return3 {
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 6.75px;
    background: #BAC1FF;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
}
#Return3:hover {
    box-shadow: 7px 5px 56px -14px #9197C6;
}
#Return3:active {
    transform: scale(0.97);
}
#Next3Button {
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 6.75px;
    background: #BAC1FF;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
}
#Next3Button:hover {
    box-shadow: 7px 5px 56px -14px #9197C6;
}
#Next3Button:active {
    transform: scale(0.97);
}  
.enter {
    justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
#word1, #word2 {
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding: 12.5px 25px;
    border-radius: 5.625px;
    background: #BAC1FF;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
}
#word1:hover, #word2:hover {
    box-shadow: 7px 5px 56px -14px #9197C6;
}
#word1:active, #word2:active {
    transform: scale(0.97);
}
.SaveCancel {
    justify-content: center;
    display: flex;
    gap: 70px;
    margin-top: 30px;
    flex-direction: row;
}
#SaveEdit {
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 6.75px;
    background: #BAC1FF;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
}
#SaveEdit:hover {
    box-shadow: 7px 5px 56px -14px #9197C6;
}
#SaveEdit:active {
    transform: scale(0.97);
}
#CancelEdit {
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 6.75px;
    background: #BAC1FF;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
}
#CancelEdit:hover {
    box-shadow: 7px 5px 56px -14px #9197C6;
}
#CancelEdit:active {
    transform: scale(0.97);
} 
.edit {
    justify-content: center;
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-direction: row;
}
#editWord1, #editWord2 {
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding: 12.5px 25px;
    border-radius: 5.625px;
    background: #BAC1FF;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
}
#editWord1:hover, #editWord2:hover {
    box-shadow: 7px 5px 56px -14px #9197C6;
}
#editWord1:active, #editWord2:active {
    transform: scale(0.97);
}
#editWord {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: fixed;
    bottom: 18%;
    left: 50%;
    transform: translateX(-50%);
}
table {
    background-color: #BAC1FF;
    border-radius: 5px;
    border: none;
    margin-top: -70px;
    transform: translateX(-200px);
    margin-left: -10%;
}
#MenuCreate {
    position: fixed;
    top: 20px;
    left: 20px;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    z-index: 1000;
}
.logoReturn {
    width: 180px;
    height: auto;
    transition: 0.3s;
}
.logoReturn:hover {
    transform: scale(1.05);
}
.logoReturn:active {
    transform: scale(0.98);
}
td button {
    border: 2px solid #7589FF;
    font-size: 18px;
    cursor: pointer;
    padding: 9px 18px;
    border-radius: 4.5px;
    background: #BAC1FF;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
}
td button:hover {
    box-shadow: 7px 5px 56px -14px #383c5e;
}
td button:active {
    transform: scale(0.97);
}
td {
  padding: 10px 15px;
  text-align: center;
  color: #000;
  font-size: 18px;
}










