body {
    background-color: #FFFFEF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Dejavu Sans Mono, monospace;
    position: relative;
    min-height: 100vh;
}
.logo {
    width: 550px;
    height: auto;
    margin-bottom: 20px;
}
.welcome {
    font-size: 50px;
    margin-bottom: 40px;
}
.start button {
    border: none;
    font-size: 40px;
    cursor: pointer;
    padding: 20px 40px;
    border-radius: 9px;
    background: #BAC1FF;
    border: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.4s;
}
.start button:hover {
    box-shadow: 7px 5px 56px -14px #9197C6;
}
.start button:active {
    transform: scale(0.97);
}
.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.list {
    display: flex;
    gap: 130px;
    margin-top: 80px;
}
.wordOfTheDay {
    font-size: 40px;
    margin-top: 90px;
}
#menu {
    position: relative;


    z-index: 10;
}
.shape {
    z-index: 1;
    position: absolute;
}
.circle1 {
    width: 70px;
    height: 70px;
    border: 4px solid orange;
    border-radius: 50%;
    top: 69%;
    left: 20%;  
    background-color: #FFFFAA;  
}
.circle2 {
    width: 45px;
    height: 45px;
    border: 4px solid orange;
    border-radius: 50%;
    top: 23%;
    left: 83%;  
    background-color: #FFFFAA;  
}
.circle3 {
    width: 55px;
    height: 55px;
    border: 4px solid orange;
    border-radius: 50%;
    top: 40%;
    left: 10%;
    background-color: #FFFFAA;
}
.circle4 {
    width: 35px;
    height: 35px;
    border: 4px solid orange;
    border-radius: 50%;
    top: 50%;
    left: 45%;
    background-color: #FFFFAA;
}
.square1 {
    width: 30px;
    height: 55px;
    border: 4px solid orange;
    border-radius: 8px;
    background-color: #FFFFAA;
    top: 67%;
    left: 80%;
    transform: rotate(282deg);
}
.square2 {
    width: 25px;
    height: 35px;
    border: 4px solid orange;
    transform: rotate(35deg);
    background-color: #FFFFAA;
    top: 30%;
    left: 23%;
    border-radius: 8px;
}
.square3 {
    width: 40px;
    height: 70px;
    border: 4px solid orange;
    transform: rotate(55deg);
    background-color: #FFFFAA;
    top: 28.9%;
    left: 50%;
    border-radius: 8px;
}
.line1 {
    width: 70px;
    border-top: 4px solid orange;
    top: 53%;
    left: 87%;
    transform: rotate(30deg);
}
.line2 {
    width: 70px;
    border-top: 4px solid orange;
    top: 57%;
    left: 85.9%;
    transform: rotate(30deg);
}
.line3 {
    width: 70px;
    border-top: 4px solid orange;
    top: 61%;
    left: 84.8%;
    transform: rotate(30deg);
}
.line4 {
    width: 50px;
    border-top: 4px solid orange;
    top: 67%;
    left: 54%;
    transform: rotate(155deg);
}
.line5 {
    width: 50px;
    border-top: 4px solid orange;
    top: 67%;
    left: 54%;
    transform: rotate(65deg);
}





